
<div class="navig">
    <div><a routerLink="/"><img src="./../../../assets/wabla2.png" alt="wabla"></a></div>
    <div><a routerLink="/equipe"><img src="./../../../assets/equipe-logo4.png" alt="navig"></a></div>
    <div><a routerLink="/clients"><img src="./../../../assets/custumers3.png" alt="navig"></a></div>
    <div><a routerLink="/contact"><img src="./../../../assets/contacter3.png" alt="navig"></a></div>   
</div>

<div class="services">
    <div class="cadre">
        <div class="logos">
            <div>
                    <img  src="./../../../assets/robotique-or.png" alt="service">
                    <span *ngIf="langue==='fr'">ROBOTIQUE<br><br><br> Lorem ipsum dololestias? g elit. Consequuntur, temporibus!</span>
                    <span *ngIf="langue==='en'">ROBOTICS<br><br><br> Lorem ipsum dololestias? g elit. Consequuntur, temporibus!</span>
            </div>
            <div>
                <img src="./../../../assets/electron-or.png" alt="service">
                <span *ngIf="langue==='en'">ELECTRONICS<br><br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, eligendi!</span>
                <span *ngIf="langue==='fr'">ELECTRONIQUE<br><br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, eligendi!</span>
            </div>
            <div>
                <img src="./../../../assets/mecatron-or.png" alt="service">=
                <span *ngIf="langue==='en'">MECHATRONICS<br><br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aut!</span> 
                <span *ngIf="langue==='fr'">MECATRONIQUE<br><br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aut!</span> 
            </div>
            <div>
                <img src="./../../../assets/elmec-or.png" alt="service">
                <span *ngIf="langue==='en'">ELECTRO- MECANICS<br><br><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, nostrum!</span> 
                <span *ngIf="langue==='fr'">ELECTRO- MECANIQUE<br><br><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, nostrum!</span> 
            </div>
            <div>
               <img src="./../../../assets/soudeur2-or.png" alt="service">
               <span *ngIf="langue==='en'">WELDING<br><br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, repellat?</span>
                <span *ngIf="langue==='fr'">SOUDAGE<br><br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, repellat?</span>
            </div>
            <div>
                <img src="./../../../assets/cdc-or.png" alt="service">
                <span *ngIf="langue==='en'">SPECIFICATIONS<br><br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, porro.</span> 
                <span *ngIf="langue==='fr'">CAHIER DES CHARGES<br><br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, porro.</span> 
            </div>
            <div>
                <img src="./../../../assets/consul orange.png" alt="service">
                <span *ngIf="langue==='en'">PROJECT MONITORING<br><br><br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, sunt. </span>
                <span *ngIf="langue==='fr'">SUIVI DE PROJETS<br><br><br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, sunt. </span>
            </div>
            <div>
                <img src="./../../../assets/PEB.png" alt="service">
                <span *ngIf="langue==='en'">ENERGY DIAGNOSIS<br><br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, ullam.</span>
                <span *ngIf="langue==='fr'">PEB<br><br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, ullam.</span>
            </div>
            <div>
                <img src="./../../../assets/consulting-or.png" alt="service">
                <span *ngIf="langue==='en'">CONSULTING<br><br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, accusantium.</span> 
                <span *ngIf="langue==='fr'">CONSULTANCE<br><br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, accusantium.</span> 
            </div>
        </div>
    </div>
</div>
